@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

/* *{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}  */
*{    
    font-family:sans-serif;
}

:root{
    --color-primario:#0b2e59;
    --color-secundario:#87cefa;
    --color-terciario:#3f83b7;
    --color-cuarto:#c3d5db;
    --color-quinto:#e0eff2;
}
 body{
    background-color:var(--color-quinto);
}

/* ----------------------------HEADER----------------------- */
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primario);
    padding: 3vh 5vw;
    align-items: center;
    border-radius: 10px;
}
.btn-menu{
    background-color: var(--color-quinto);
    border:none;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: none;
}
img{
    color:white;
    width: 10%;
   /*  margin: 2vw 3vw; */
}
nav{
    display: flex;
    align-items: center;
    gap: 5vh;
    margin: 2vw 3vw;
}
nav a{
   color:var(--color-cuarto);
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    transform: translateY(-10px);
}
.btn-iniciar-sesion{
    background-color: transparent;
    border: gray 3px solid;
    border-radius: 14px;
    height: 35px;
    color:var(--color-cuarto);
}
.btn-iniciar-sesion:hover {
    background-color: var(--color-terciario);
}
.btn-registrarse{
    background-color: transparent;
    border: gray 3px solid;
    border-radius: 14px;
    height: 35px;
    color:var(--color-cuarto);
}
.btn-registrarse:hover{
    background-color: var(--color-terciario);
}
/* ----------------------------FIN HEADER--------------------- */

/* ----------------------------IMAGEN PRINCIPAL HERO--------------------- */

 .imagen-principal{
    background-image: url(/Imagenes/IMAGENFONDO.jpg);
    background-repeat: no-repeat;
    background-size:cover;
} 
.imagen-principal h1{
    display: flex;
    padding: 110px;
    color:rgb(33, 115, 216);
}

/* ----------------------------FIN IMAGEN PRINCIPAL--------------------- */

.formularioContacto{
    display: flex;
    flex-direction: column;
}


/* ----------------------------FORMULARIO--------------------- */ 
/* .seccion1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imagen-principal{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 50%;
}
@keyframes left-to-right{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}
h1{
    display: flex;
    font-size: 25px;
    color: var(--color-principal);
    animation-name: left-to-right;
    animation-duration: 2s;
}
h1:hover{
    transition: ease-in-out 0.4s;

}
.caja{
    display: flex;
    justify-content: center;
    background-color: #1f54a49f;
    width: 50vw;
    height: 60%;
    border-radius: 14px;
    flex-direction: column;
    align-items: center;
    margin: 2vw 3vw;
}
.caja h2{
    color: #F7F7F7;
    text-shadow: 0 0 5px black;
}
.titulo{
    color: #F7F7F7;
    text-shadow: 0 0 5px black;
} 
.form1{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 5vh 3vw;
    gap: 3%;
} .form2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin: 8vh 3vw; 
}
input{
    display: flex;
    height: 4vh;
    width: 30%;
    border: #F7F7F7;
    border-radius: 14px;
    text-align: center;
}
.cotizar{
    display: flex;
    justify-content: center;
    color: #F7F7F7;
    margin-bottom: 4vh;
}
.btn-cotizar{
    display: flex;
    justify-content: center;
    border-radius: 14px;
    width: 6vw;
}
.btn-cotizar:hover{
    background-color: var(--color-principal);
    color: white;
}
 */
/*  .seccion1{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-principal img{
    display: flex;
    width: 75%;
    height: 50%;
    border-radius: 14px;
}
.img-principal p{
    font-size: larger;
    justify-content: center;
    color: rgb(51, 48, 48);
    position:absolute;
    top: 29%;
    left: 15%;
}
.caja{
    display: flex;
    background-color: rgb(68, 68, 204);
    width: 80%;
    height: 50%;
    border-radius: 14px;
    flex-direction: column;
    align-items: center;
    margin: 2vh 3vw;
}
.caja h1{
    color: #F7F7F7;
}
.titulo{
    color: #F7F7F7;
} 
.form1{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 2vw 3vw;
    gap: 3vw;
} .form2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin: 5vw 3vw; 
}
input{
    display: flex;
    height: 2vw;
    border: #F7F7F7;
    border-radius: 14px;
    text-align: center;
}
.btn-cotizar{
    background-color: #F7F7F7;
    border: gray 1px solid;
    border-radius: 50%;
    width: 150px;    
    height: 45px;
    font-size: 25px;
    color: rgb(68, 68, 204);
}  */
/* ----------------------------FIN FORMULARIO--------------------- */

/* ----------------------------NUESTROS DESTINOSS--------------------- */
.contenedor{
    /*border:yellowgreen 2px solid; SOLO PARA VER LA CAJA */
    display: flex;
    justify-content: space-around;/* para que deje espacio con los bordes */
    /*gap: 10px;  Separa de los bordes */
    flex-wrap: wrap;/* para que se acomode al tamaño de la caja */
}
.card{
    /*border: rgb(255, 115, 0) 1px solid; SOLO PARA VER LA CAJA */
  /*   background-color: rgb(105, 105, 190); -------------------------------*/
  background-color: var(--color-terciario);
/*     padding: 10px; */
    border-radius: 20px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.408);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}
.card:hover{
    background-color:var(--color-primario);
    transform: translateY(-20px);
}
.card img{    
    height:180px;
    width: 180px;
    width: 85%;
    border-radius: 20px;
}
.titulo-destinos h2{
/*     border:rgb(23, 130, 223) 3px solid;  */
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--color-primario);
}


/* ----------------------------FIN NUESTROS DESTINOS--------------------- */
/* -----------------sSUSCRIPCION AL NEWSLETTER------------------ */
.seccion3{
    background-color: var(--color-cuarto);
}
.formularioSuscripcion{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.formularioSuscripcion h2{
    color: var(--color-primario);
}
main form{
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 1vh;
    padding-bottom: 60px;
}

main form .inputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 18px;
}
 main form .formularioContacto{
    width: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
} 
.inputContainer input{
    border: var(--color-primario) 1px solid;
    border-radius: 20px;
    padding: 5px;;

}
.btn-suscribirme{
    width: 200px;
    padding: 5px;
    background-color: var(--color-terciario);
    border-radius: 20px;
    color: var(--color-quinto);
}
.btn-suscribirme:hover{
    transition:1s ease-in-out;
    background-color: var(--color-quinto);
    color: var(--color-terciario);
}

/* -----------------sSUSCRIPCION AL NEWSLETTER------------------ */
/* ----------------------------FOOTER--------------------- */
.pie-pagina {
    width: 100%;
    background-color: var(--color-primario);
/*     background-color: rgb(63, 63, 211);---------------------------- */
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .form3 h2, {
    color:whitesmoke;
    font-size: 20px;
}
.pie-pagina .form3 ,p {
    color:whitesmoke;
    font-size: 16px;
}
.pie-pagina .grupo-1 .box h2{
    color: #F7F7F7;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #F7F7F7;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box p:hover{
    color:lightskyblue
}
.pie-pagina .grupo-1 .box .red-social i{
    display: inline-block;
    text-decoration: none;
    width: 75px;
    height: 75px;
    line-height: 45px;
    color: #F7F7F7;
    margin-right: 10px;
    /* background-color:rgb(63, 63, 211); ------------------------------*/
    background-color: var(--color-primario);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social i:hover {
    color:lightskyblue;
}
.pie-pagina .grupo-2 {
   /*  color:rgb(63, 63, 211); -------------------------------*/
   color:var(--color-primario);
    padding: 15px 10px;
    text-align: center;
/*     color: #F7F7F7; */
    color:var(--color-terciario);
}
.pie-pagina .grupo-2 small {
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    nav{
        display: none;    
    }
    .btn-menu{
        display:block;
    }
}


/* ----------------------------FIN FOOTER--------------------- */

